<div align="center" class="page-header">
  <h1>Registration Page</h1>
</div>

<div class="container">
  <form class="form-horizontal" #registrationForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="email" id="email" [(ngModel)]="registrationForm.email" placeholder="Enter email...">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="registrationForm.name" placeholder="Enter Name...">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="registrationForm.password" placeholder="Enter Password...">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="confirmPassword">Confirm Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="confirmPass" id="confirmPass" [(ngModel)]="registrationForm.confirmPass" placeholder="Enter Confirm Password...">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input id="submitbutton" type="submit" value="Submit" class="btn btn-success" (click)="register(registrationForm)" />&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info" (click)="backToLogin()">Back</button>
      </div>
    </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" data-keyboard="false" data-backdrop="static" id="registerModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" (click)="navigaeLoginPage()" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>Succesfully Registered</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="navigaeLoginPage()">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>